/*
@font-face {
    font-family: Karla;
    src: url(https://fonts.google.com/specimen/Karla);
}

div {
    max-width: 700px;
    display: inline;
    margin: auto;
    padding: 24px;
    

}


body {
    font-size: 16px;
    background-color: gray;
    font-family:Karla;
    font-weight: 400, 700;
}

h1 {
    color: hsl(179, 62%, 43%);
}
 header h2{
    color: hsl(71, 73%, 54%);
}
header{
    grid-area: header;
    background-color: white;
    color: hsl(218, 22%, 67%);
    text-align: left;
    padding-left: 50px;
    
}

h2{
    color: white;
}

article {
    grid-area: content;
    background-color: hsl(204, 43%, 93%);
    padding-left: 50px;
   
    
}

aside {
    grid-area: sidebar;
    background-color: hsl(179, 62%, 43%);
   padding: 20px;
   border: 16px;
}

footer {
    grid-area: footer;
    background-color: #fd9644;
}

.wrapper {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-areas: 'header header'
    ' sidebar content'
     'footer footer';
     border-style:ridge;
     border-radius: 16px;
     border-color: lightgray;
}
button {
    background-color: hsl(71, 73%, 54%);
    border-radius: 8px;
    padding: 10px 60px;
    color: white;
    font-size: 16px;
    display: block;
    margin: auto;
}

b {
    color: white;
    font-size: 24px;
}

li {
    list-style: none;
} */
.main {
    background-color: black;
}
.container {
    display: block;
    margin: auto;
    border-style: outset;
    border-radius: 16px;
    max-width: 600px;
    
    
}

 div  {
    display: flex;
    
    
    

}
 .wapper > div{
    width: 33%;

 }
aside {

    background-color: hsl(179, 62%, 43%);
}

article {
    background-color: hsl(204, 43%, 93%);
}

